/* elements */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 0 20px;
    background: linear-gradient(180deg, #1e262d 0%, #2a343d 50%, #37444e 100%);
}

h1 {
    font-family: 'Monsieur La Doulaise', cursive;
    letter-spacing: 3px;
    font-size: 64px;
    font-weight: 100;
    color: white;
    white-space: normal;
}

p {
    color: white;
}

a {
    color: white; 
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px; 
}
  
footer {
    font-family: 'Monsieur La Doulaise', cursive;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 48px;
    color: #aaa;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


/* Google fonts */
.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-style: normal;
    font-weight: 100;
}

.antic-didone-regular {
    font-family: "Antic Didone", serif;
    font-style: normal;
}

/* Ids */
#countdown {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: "Antic Didone", cursive;
    margin-top: 15px;
}

#title {
    padding-top: 80px;
}

#initials {
    border-bottom: 1px solid #aaa;
    padding-top: 0 18px 16px;
    text-transform: none;
}

#rsvpButton {
    font-family: "Antic Didone", serif;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 3px;
}

/* classes */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    padding: 20px 0px 20px;
}

.vertical-line {
    width: 1.5px;             
    height: 100px;
    background-color: white;
}

.date {
    font-family: "Antic Didone", serif;
    font-size: 24px;
    font-weight: 100;
}

.date h2 {
    font-family: "Monsieur La Doulaise", cursive;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 40px;
}

.cta-link {
    letter-spacing: 3px;
    font-size: 30px;
    font-family: "Antic Didone", serif;
}
  
.cta-link:hover {
    transform: scale(1.05);
}

.small-text {
    font-family: "Antic Didone", serif;
    font-size: 16px;
    font-weight: 100;
    padding-top: 10px;
}

.info {
    font-family: "Antic Didone", serif;
    font-size: 20px;
    font-weight: 100;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.info a {
    font-size: 20px;
    letter-spacing: 0;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
