# fly.toml app configuration file generated for esteph-and-david-wedding on 2025-12-02T22:15:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'esteph-and-david-wedding'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
