{% extends "base.html" %}

{% block title %}Dress Code{% endblock %}

{% block content %}

    <!-- title -->
    <h1 class="title smaller-title">Dress Code</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <div class="info">
        <div>
            <h2 class="fancy">Black Tie</h2>
            <p>To help set the tone for the day, we've (Esteph) put together a moodboard that captures the aesthetic and overall vibe of the dress code. 
                It's here purely for inspiration — feel free to interpret it in your own way and have fun with it! 
            </p>
        </div>
    </div>

    <div class="dresscode-gallery">
        <img class="full-moodboard fade-in-subtle" 
            src="{{ url_for('static', filename='images/full-dress-code.jpg') }}" 
            alt="Dress Code Moodboard">
    </div>
    <div class="info">
        <p>Tip: you can rotate your phone or pinch your screen to zoom in.</p>
    </div>


    <div class="container">
        <div class="vertical-line"></div>
    </div>


    <!-- return to home link -->
    <div class="container">
        <a href="{{ url_for('home') }}" id="returnHome" class="page-link">Return To Home</a>
    </div>

{% endblock %}