{% extends "base.html" %}

{% block title %}Estephanie and David - Wedding{% endblock %}

{% block content %}

<!-- title -->
<h1 class="title fade delay-1">ESTEPHANIE & DAVID</h1>

<div class="container fade delay-2">
    <p>SATURDAY 12TH SEPTEMBER 2026</p>
    <div class="space"><p>|</p></div>
    <a class="web-link" href="https://ripplecourtestate.co.uk/" target="_blank">
        RIPPLE COURT ESTATE, DEAL
    </a>
</div>

<!-- count down time to wedding -->
<div id="countdown" class="fade delay-4"></div>

<div class="container fade delay-5">
    <div class="vertical-line"></div>
</div>

<!-- RSVP -->
<div class="container fade delay-6">
    <a href="{{ url_for('rsvp') }}" class="page-link">RSVP</a>
</div>

<div class="container fade delay-7">
    <div class="vertical-line"></div>
</div>

<!-- Schedule -->
<div class="container fade delay-8">
    <a class="page-link">SCHEDULE</a>
</div>

<div class="container fade delay-9">
    <div class="vertical-line"></div>
</div>

<!-- Travel and accommodation -->
<div class="container fade delay-10">
    <a href="{{ url_for('travel') }}" class="page-link">TRAVEL & ACCOMMODATION</a>
</div>

<div class="container fade delay-11">
    <div class="vertical-line"></div>
</div>

<!-- Dress Code -->
<div class="container fade delay-12">
    <a class="page-link">DRESS CODE</a>
</div>

<div class="container fade delay-13">
    <div class="vertical-line"></div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/visited.js') }}"></script>
{% endblock %}

