{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block content %}
<div class="container height">
    <div class="div-item">
        <h1 class="title">WELCOME</h1>
        <hr class="horizontal-line">
        <input type="password" id="passwordInput" placeholder="Enter password here...">
        <button id="enter-button" onclick="checkPassword()">Enter</button>
        <p class="info" id="error">Incorrect password</p>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/authenticate.js') }}"></script>
{% endblock %}

