{% extends "base.html" %}

{% block title %}Registry{% endblock %}

{% block content %}

    <!-- title -->
    <h1 class="title smaller-title">Registry</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <div class="info">
        <div>
            <p> Your presence at our wedding is more than enough.
                If you would like to give a gift, a contribution towards our future together
                would be very much appreciated.
            </p>
            <p> We don't have a traditional gift list, but for those who would like to contribute,
                we've set up a simple cash fund below.
            </p>
            <p> Thank you so much — we truly appreciate your love and support.
                <br>
                <br>
                x
            </p>
            <a href="https://monzo.me/estephaniestanden?h=ty2Hi2" target="_blank" class="registry-link">
            Gift with Monzo
            </a>
        </div>
    </div>

    <div class="container">
        <div class="vertical-line"></div>
    </div>


    <!-- return to home link -->
    <div class="container">
        <a href="{{ url_for('home') }}" id="returnHome" class="page-link">Return To Home</a>
    </div>

{% endblock %}