{% extends "base.html" %}

{% block title %}RSVP{% endblock %}

{% block content %}

<!-- title -->
<h1 class="title">Répondez s'il vous plaît</h1>

<div class="container">
    <div class="vertical-line"></div>
</div>

<!-- rsvp info and welcome message -->
<div class="info">
    <div>
        <p>
            We are so excited to celebrate our special day with you!
            <br>
            Please let us know if you'll be joining us by completing the RSVP form below.
            <br>
            <br>
            Kindly RSVP by <span class="underline">12th March 2026</span> so we can finalise numbers.
            Responses received after this date cannot be guaranteed.
            <br>
            <br>
            We can't wait to share this unforgettable day with our family and friends!
            <br>
            x
        </p>
    </div>
</div>

<div class="container">
    <div class="vertical-line"></div>
</div>

<!-- RSVP link -->
<div class="container">
    <div>
        <a id="scroll-down-link" class="page-link">RSVP</a>
    </div>
</div>

<div class="container">
    <div class="vertical-line"></div>
</div>

<!-- RSVP form -->
<div id="target" class="rsvp-container">

    <!-- Formspree endpoint - https://formspree.io/ -->
    <form id="rsvpForm" action="https://formspree.io/f/xblplddd" method="POST">
        
        <!-- guest name -->
        <label for="name">Enter Your Name</label>
        <input type="text" id="name" name="name" placeholder="First and Second Name" required>

        <!-- attendance -->
        <label for="attending">Will you be attending?</label>
        <select id="attending" name="attending" required>
            <option value="" disabled selected>Select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>

        <!-- only visible if "yes" is selected -->
        <div id="guestAttending" class="hidden-section">
            <!-- dietary requirements -->
            <label for="dietary">Dietary Requirements</label>
            <select id="dietary" name="dietary">
                <option value="" disabled selected>Select</option>
                <option value="none">None</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="gluten-free">Gluten-Free</option>
                <option value="vegan">Vegan</option>
                <option value="other">Other</option>
            </select>

            <!-- hidden field for custom diet -->
            <div id="otherDietContainer" class="hidden-section">
                <label for="otherDiet">Please specify:</label>
                <input
                    type="text"
                    id="otherDiet"
                    name="otherDiet"
                    placeholder="Enter dietary details"
                />
            </div>

            <!-- message -->
            <label for="message">Message for the Couple / Song Request</label>
            <textarea id="message" name="message" placeholder="Optional"></textarea>
        </div>

        <!-- submit -->
        <button type="submit" class="page-link">Submit</button>
    </form>

    <!-- if "no" selected -->
    <div id="guestNotAttending" class="hidden-section">
        <p>Your RSVP has been sent.
            <br>
            We'll miss you, but thank you for letting us know.
            <br>
            x
        </p>
        <div class="container">
            <div class="vertical-line"></div>
        </div>
        <a class="rsvp-another page-link">RSVP for someone else?</a>
    </div>

    <!-- if "yes" selected -->
    <div id="postRsvpOptions" class="hidden-section">
        <h3>Thank you!</h3>
        <p>Your RSVP has been sent.
            <br>
            We can't wait to celebrate with you!
            <br>
            x
        </p>
        <div class="container">
            <div class="vertical-line"></div>
        </div>
        <a class="rsvp-another page-link">RSVP for someone else?</a>
    </div>

    <!-- return home -->
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <div class="container info">
        <a href="{{ url_for('home') }}" class="page-link">Return To Home</a>
    </div>

    <!-- scroll to top -->
    <div class="container">
        <div class="vertical-line"></div>
    </div>
    <div id="scroll-up-link" class="container info">
        <p class="page-link">Back to Top</p>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scrolldown.js') }}"></script>
<script src="{{ url_for('static', filename='js/rsvp.js') }}"></script>
<script src="{{ url_for('static', filename='js/scrollup.js') }}"></script>
{% endblock %}
