{% extends "base.html" %}

{% block title %}Wedding Schedule{% endblock %}

{% block content %}

    <!-- title -->
    <h1 class="title smaller-title">Schedule</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- ice breaker -->
    <div class="info page-card">
        <div>
            <h2>THE NIGHT BEFORE</h2>
            <p>Icebreaker drinks at the local pub from 7pm—everyone's welcome! A perfect chance to see each other before the big day.</p>       
            <hr> 
            <p>More information to follow.</p>
        </div>
    </div>
     <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- the wedding day -->
    <div class="info page-card">
        <div>
            <h2>THE WEDDING DAY</h2>
            <p>Please join us at 1:30pm for welcome drinks at the venue.</p>
            <p>The Ceremony will be begin at 2'o clock. Drinks, dinner and dancing to follow. Carriages at 11:30pm.</p>
            <hr>
            <p>Please note that the times are still TBC. They shouldn't change much, but please check this page closer to the date for updates.</p>
        </div>
    </div>
     <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- the day after -->
    <div class="info page-card">
        <div>
            <h2>THE DAY AFTER</h2>
            <p>Coffee and farewell hugs at the venue from 11am onwards. A perfect chance to say a huge thanks and goodbye before everyone heads home.</p>
            <hr>
            <p>Please note that the times are still TBC. They shouldn't change much, but please check this page closer to the date for updates.</p>
        </div>
    </div>
   
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- return to home link -->
    <div class="container info">
        <a href="{{ url_for('home') }}" class="page-link">Return To Home</a>
    </div>

    <!-- scroll to top -->
    <div class="container">
        <div class="vertical-line"></div>
    </div>
    <div id="scroll-up-link" class="container info">
        <p class="page-link">Back to Top</p>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scrollup.js') }}"></script>
{% endblock %}