{% extends "base.html" %}

{% block title %}Wedding Schedule{% endblock %}

{% block content %}

    <!-- title -->
    <h1 class="title smaller-title">Schedule</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- ice breaker -->
    <div class="info">
        <div>
            <h2>THE NIGHT BEFORE</h2>
        </div>
    </div>
     <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- the wedding day -->
    <div class="info">
        <div>
            <h2>THE WEDDING DAY</h2>
        </div>
    </div>
     <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- the day after -->
    <div class="info">
        <div>
            <h2>THE DAY AFTER</h2>
        </div>
    </div>
   
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- return to home link -->
    <div class="container">
        <a href="{{ url_for('home') }}" id="returnHome" class="page-link">Return To Home</a>
    </div>

{% endblock %}