{% extends "base.html" %}

{% block title %}Wedding Schedule{% endblock %}

{% block content %}

    <!-- title -->
    <h1 class="title smaller-title">Schedule</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- ice breaker -->
    <div class="info page-card">
        <div>
            <h2>THE NIGHT BEFORE</h2>
            <p>Icebreaker drinks for anyone who's already in Deal on Friday — no pressure at all, 
                just a relaxed chance to catch up before the wedding.
            </p>      
            <hr> 
            <p>Time and location to be confirmed. We'll share the latest details here,
                so please check back for updates!
            </p>
        </div>
    </div>
     <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- the wedding day -->
    <div class="info page-card">
        <div>
            <h2>THE WEDDING DAY</h2>
            <p>The ceremony will begin at 2:00pm. The celebration will continue with drinks, 
                dinner and dancing, ending with carriages at 11:30pm.
            </p>
            <hr>
            <p>We'll be sharing the latest details here — please check back for updates!</p>
        </div>
    </div>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- the day after -->
    <div class="info page-card">
        <div>
            <h2>THE DAY AFTER</h2>
            <p>Coffee and farewell hugs at the venue for anyone who happens to be passing 
                by on their way home - a lovely chance to say thank you and goodbye before 
                everyone heads off.
            </p>
            <hr>
            <p>Time to be confirmed. We'll be sharing the latest details here — please check back for updates!</p>
        </div>
    </div>
   
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- return to home link -->
    <div class="container info">
        <a href="{{ url_for('home') }}" class="page-link">Return To Home</a>
    </div>

    <!-- scroll to top -->
    <div class="container">
        <div class="vertical-line"></div>
    </div>
    <div id="scroll-up-link" class="container info">
        <p class="page-link">Back to Top</p>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scrollup.js') }}"></script>
{% endblock %}