{% extends "base.html" %}

{% block title %}Travel & Accommodation {% endblock %}

{% block content %}

    <!-- title -->
    <h1 class="title smaller-title">Travel & Accommodation</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- Venue guest info -->
    <div class="info">
        <div>
            <h2>Guest Information</h2>
            <p>
                The venue has kindly shared a detailed pdf that includes; directions to the venue,
                taxi numbers, and local accommodation options. We highly recommend reading it.
            </p>
            <a href="https://drive.google.com/file/d/1Jb-G6_vhLb_B0ws1OmGAFyu8rJnRds3Q/view?usp=drive_link"
               target="_blank"
               class="page-link">
                View Guest Information (PDF) here.
            </a>
        </div>
    </div>

    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- Airbnb -->
    <div class="info">
        <div>
            <h2>Airbnb Recommendations</h2>
            <p>
                In case you're unsure where to book or need some ideas, we've put together 
                a list of Airbnb options which we hope you find useful.
            </p>
            <p>
                If you'd rather book a hotel, the venue has a list of their recommended hotels 
                which you can find in their Guest Information guide linked above.
            </p>
            <a href="{{ url_for('airbnb') }}" class="page-link mt-4">Explore AirBnB</a>
        </div>
    </div>

    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- Things to do -->
    <div class="info">
        <div>
            <h2>Things to do in Deal</h2>
            <p>If you're spending the weekend here, here's a list of must-see sights and experiences.</p>
            <a href="{{ url_for('deal') }}" class="page-link mt-4">Explore Deal</a>
        </div>
    </div>

    <!-- return to home link -->
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <div class="container">
        <a href="{{ url_for('home') }}" id="returnHome" class="page-link">Return To Home</a>
    </div>

{% endblock %}


