<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estephanie & David - Wedding</title>

    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">  
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- title -->
    <h1 class="smaller-title">Travel & Accommodation</h1>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- Venue guest info -->
    <div class="info">
        <div>
            <h2>Guest Information</h2>
            <p>The venue has kindly shared a detailed pdf with directions to the venue, taxi numbers, and local accommodation options.  
                We recommend reading it before you book.
            </p>
            <a href="https://drive.google.com/file/d/1Jb-G6_vhLb_B0ws1OmGAFyu8rJnRds3Q/view?usp=drive_link" target="_blank" class="page-link">
                View Guest Information (PDF) here.
            </a>
        </div>
    </div>
    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- Airbnb -->
    <div class="info">
        <div>
            <h2>Airbnb Recommendations</h2>

            <p>In case you're unsure where to book or need some ideas, we've put together a list of Airbnb options which we hope you find useful.</p>
            <p>If you'd rather book a hotel, the venue has a list of their recommended hotels which you can find in their Guest Information guide which is linked above.</p>
            
            <a href="airbnb.html" class="page-link mt-4">Explore AirBnB</a>
        </div>
    </div>

    <div class="container">
        <div class="vertical-line"></div>
    </div>

    <!-- Things to do -->
    <div class="info">
        <div>
            <h2>Nice Things to Do Nearby</h2>
            <p>Coming Soon!</p>
            <p>We're compiling a list of popular hot spots to visit whilst you're in Deal.</p>
            <!-- <ul>
                <li>Visit the charming local town square</li>
                <li>Walk along the riverside trails</li>
                <li>Enjoy afternoon tea at The Old Bakery Café</li>
            </ul> -->
        </div>
    </div>

    <!-- return to home link -->
    <div class="container">
        <div class="vertical-line"></div>
    </div>
    <div class="container">
        <a href="home.html" id="returnHome" class="page-link">Retrun To Home</a>
    </div>

    <!-- footer -->
    <footer class="container">
        <div id="initials">E & D</div>
        <div class="small-text">
            <p>12.09.2026</p>
            <br>
            <p>Created by us</p>
            <p>x</p>
        </div>
    </footer>
</body>
</html>
